<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @idea.url %>
</p>

<p>
  <strong>Board:</strong>
  <%= @idea.board_id %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
