<p id="notice"><%= notice %></p>

<h3><%= @project.name %></h3>

<h3>Boards</h3>

<% @project.boards.each do |board| %>
  <ul>
  	<li>
  		<strong><%= link_to board.title, project_board_path(@project,board) %></strong> — <%= board.description %> — <%= link_to 'Delete', project_board_path(@project,board), method: :delete, data: { confirm: 'Are you sure?' } %>

		</li>
	</ul>

<% end %>

<p><%= link_to 'Add New Board', new_project_board_path(@project), class: "btn btn-primary" %> <p>

