
<div id="all-boards">
  <h1 class="center">
  	<%= @project.name %>
	</h1>

	<% if @boardscount == 0 # display only if there are no boards %> 
		<p>Welcome to your new project! Get Started by adding a new board to collet your ideas.</p>
	<% end %>

	<% @project.boards.order("created_at desc").each do |board| %>

		<div class="board-item">

			<h3>
				<%= link_to board.title, project_board_path(@project,board) %>
			</h3>
			<p><%= board.description %></p>
			<p class="delete">
				<%= link_to project_board_path(@project,board), method: :delete, data: { confirm: 'Are you sure?' } do %>
					<span class='glyphicon glyphicon-trash'></span>
				<% end %>
			</p>

		</div>

	<% end %>

	<p><%= link_to '+ add new board', new_project_board_path(@project), class: "btn btn-primary btn-new-board" %></p>

</div>