<p id="notice"><%= notice %></p>

  <h1 class="center">
  	<%= @board.title %>
  	<span class="btn btn-default btn-sm">
  		<%= link_to 'Edit', edit_project_board_path(@board.project_id,@board) %>
		</span>
	</h1>
  

<p class="description center"><%= @board.description %></p>

<% @board.ideas.each do |idea| %>
	<p class="center">
		<strong><%= link_to idea.url, idea.url %></strong><br>
			<%= link_to 'Delete', project_board_idea_path(@project,@board,idea), method: :delete, data: { confirm: 'Are you sure?' } %>

		</p>
<% end %>


<p class="center"><%= link_to 'Add New Idea', new_project_board_idea_path(:board_id => @board.id), class: "btn btn-primary" %> <p>
