<p id="notice"></p>

<script type="text/javascript">
	$(function () {
	  var $container = $('#ideas');
	    $container.imagesLoaded(function(){
	      $container.masonry({
	       itemSelector : '.box', 
	       //columnWidth: 400,
	       gutterWidth : 2
	    });
	  });
	    //$('#ideas').masonry({ isFitWidth: true });
	    $( "#ideas" ).sortable();
	    $( "#ideas" ).disableSelection();

	    var $c = $('#ideas'); // this funtion makes masonry sortable
	    $c.masonry({ 
	        itemSelector: '.box' 
	    }); 
	    $c.sortable({ 
	        start: function (e, ui) { 
	            ui.item.removeClass('box'); 
	            ui.item.css( 'width', '400px');
	            $c.masonry('reload'); 
	        }, 
	        change: function (e, ui) { 
	            $c.masonry('reload'); 
	        }, 
	        stop: function (e, ui) { 
	            ui.item.addClass('box'); 
	            $c.masonry('reload'); 
	        } 
	    });
	});


</script>

<div class="top">
  <h1>
  	<%= @board.title %>
  	<% if user_signed_in? %>
	  	<span class="btn btn-default btn-sm">
	  		<%= link_to 'Edit', edit_project_board_path(@board.project_id,@board) %>
			</span>
		<% end %>
	</h1>

	<p class="description"><%= @board.description %></p>

</div>

<% if user_signed_in? %>
	<p><%= link_to '+ add new idea', new_project_board_idea_path(:board_id => @board.id), class: "btn btn-primary", data: {no_turbolink: true} %></p>
<% end %>

<div id="ideas" class="js-masonry transitions-enabled clearfix" >

<%= render 'ideas/form' %>
	
	<% @board.ideas.each do |idea| %>
		<div class="box">

			<%=link_to( image_tag(idea.image.url(:medium)), project_board_idea_path(@project,@board,idea)) if idea.image? %>

						<div class="idea-meta">

							<p class="username"><%= @project.user.username %></p>

							<% if @project.user == current_user %>
								<p class="delete">
									<%= link_to project_board_idea_path(@project,@board,idea), method: :delete, data: { confirm: 'Are you sure?' } do %>
										<span class='glyphicon glyphicon-trash'></span>
									<% end %>
								</p>
							<% end %>	
						</div>
			</div>

	<% end %>

	<div class="clear"></div>
		
</div>

<% if @board.ideas.size > 12 %>
	<p><%= link_to '+ add new idea', new_project_board_idea_path(:board_id => @board.id), class: "btn btn-primary", data: {no_turbolink: true} %></p>		
<% end %>


